<div class="toggle-container" @onclick="ToggleTheme">
    <div class="toggle @(isDark ? "active" : "")">
        <div class="knob">
            <i class="icon @(isDark ? "fa fa-moon" : "fa fa-sun")"></i>
        </div>
    </div>
</div>

@code {
    private bool isDark = false;

    private void ToggleTheme()
    {
        isDark = !isDark;

        var themeColor = isDark ? "#1e1e2e" : "#ffffff";
        JS.InvokeVoidAsync("setTheme", isDark);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}

