@inherits LayoutComponentBase

<div class="page">

    <!-- Top Navigation -->
    <NavMenu />

    <!-- Main content -->
    <body data-bs-theme="light">
        <div class="container">
            @Body
        </div>

        <button id="theme-toggle" class="btn btn-secondary position-fixed bottom-0 end-0 m-3">
            🌙 / ☀️
        </button>

        <script src="theme-toggle.js"></script>
    </body>


</div>
