<nav class="navbar navbar-expand-lg sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#home">Paul W Saltzman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ThemeToggle />

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">H0M3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">&#64;b0ut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">5k1lls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Pr0j3ct5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">C0nt&#64;ct</a>
                </li>
            </ul>
        </div>
    </div>
</nav>