@page "/skills"


    <div class="container" style="max-width: 1000px;">
        <h2 class="text-center mb-4">Skills</h2>
        <div class="row">
        <!-- Programs -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h4 class="mb-3">Programs</h4>
            <ul>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
                <li>GIMP</li>
                <li>Inkscape</li>
                <li>DBeaver</li>
                <li>Crystal Reports</li>
            </ul>
        </div>

        <!-- Languages -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h4 class="mb-3">Languages</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>SQL (DB2, Microsoft SQL, MariaDB)</li>
            </ul>
        </div>

        <!-- Tools & Platforms -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h4 class="mb-3">Tools & Platforms</h4>
            <ul>
                <li>Windows</li>
                <li>Ubuntu / Linux</li>
                <li>VMware / Hyper-V</li>
                <li>Git & GitHub</li>
                <li>SSH / Nano</li>
                <li>Visual Studio / VS Code</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Technical Skills -->
        <div class="col-md-6 mb-4">
            <h4 class="mb-3">Technical Skills</h4>
            <ul>
                <li>Database Design and Management</li>
                <li>System Administration and Upgrades</li>
                <li>Web Interface Design & Troubleshooting</li>
                <li>Data Conversion & Transformation</li>
                <li>Software Deployment & Configuration</li>
            </ul>
        </div>

        <!-- Soft Skills -->
        <div class="col-md-6 mb-4">
            <h4 class="mb-3">Soft Skills</h4>
            <ul>
                <li>Team Leadership & Staff Development</li>
                <li>Project & Product Management</li>
                <li>Analytical Thinking & Problem Solving</li>
                <li>Client Support & Relationship Management</li>
                <li>Process Documentation & Training</li>
            </ul>
        </div>
    </div>
</div>

