<div class="toggle-container" @onclick="ToggleTheme">
    <div class="toggle @(isDark ? "active" : "")">
        <div class="knob">
            <i class="icon @(isDark ? "fa fa-moon" : "fa fa-sun")"></i>
        </div>
    </div>
</div>

@code {
    private bool isDark = false;

    private void ToggleTheme()
    {
        isDark = !isDark;

        var themeColor = isDark ? "#1e1e2e" : "#ffffff";
        JS.InvokeVoidAsync("setBodyBackground", themeColor);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
}

@* 
                    https://medium.com/@webdevtales/create-a-stunning-light-dark-mode-toggle-in-5-minutes-189a66d52e98 
                    https://webdevtales.com/futuristic-light-or-dark-mode-in-5-minutes/*@