@inject IJSRuntime JS

<div class="toggle-container">
    <div class="toggle">
        <div class="knob">
            <img src="images/sun.svg" alt="Sun" />
        </div>
    </div>
</div>


@code {
    private async Task ToggleTheme()
    {
        await JS.InvokeVoidAsync("toggleTheme");
    }
}
@* 
                    https://medium.com/@webdevtales/create-a-stunning-light-dark-mode-toggle-in-5-minutes-189a66d52e98 
                    https://webdevtales.com/futuristic-light-or-dark-mode-in-5-minutes/*@